* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    width: 100vw;
    height: 100vh;
    color: var(--nav-font);
    background-color: var(--bg);
    transition: 0.25s;
    overflow-x: hidden;
    overflow-y: scroll;
}

.App::-webkit-scrollbar {
    width: 10px;
}
/* Track */
.App::-webkit-scrollbar-track {
    background: var(--bg);
}
/* Handle */
.App::-webkit-scrollbar-thumb {
    background: var(--sup-primary);
}
/* Handle on hover */
.App::-webkit-scrollbar-thumb:hover {
    background: var(--sup-active);
}

div.container {
    margin: auto;
    padding-bottom: 60px;
    width: 1200px;

    & section {
        margin-top: 50px;
        padding-top: 50px;
    }
}

div.footer {
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--footer);

    & p {
        font-family: var(--poppins-font);
        font-size: 1.25rem;
    }
}

section.home-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;

    /* & h1 {
        padding: 100px;
        background-color: rgba(0, 0, 0, 0.8);
        font-size: 5rem;
    } */
}

div.head-topic {
    padding-left: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: var(--comfortaa-font);
    font-size: 3rem;
    color: var(--sup-primary);
    border-left: 2px solid var(--sup-primary);

    & svg {
        margin-left: 15px;
    }
}

div.sub-topic {
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: var(--quicksand-font);
    font-size: 2rem;
}

/* @media only screen and (max-width: 1800px) {
    section.home-section {
        display: flex;
        justify-content: center;
        & img {
            width: auto;
            height: 100vh;
        }
    }
} */
