@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap");

:root {
    /* Google Fonts */
    --poppins-font: "Poppins", sans-serif;
    --play-font: "Play", sans-serif;
    --comfortaa-font: "Comfortaa", sans-serif;
    --quicksand-font: "Quicksand", sans-serif;
    --poppins-font: "Poppins", sans-serif;
    --work-sans-font: "Work Sans", sans-serif;
    --reem-kufi-fun-font: "Reem Kufi Fun", sans-serif;
    --noto-sans-font: "Noto Sans Thai", sans-serif;

    /* Dark theme Color */
    --bg: #101010;
    --navbar-primary: #232524;
    --navbar-secondary: #353535;
    --nav-link-hover: #505050;
    --nav-link-active: #ffa500;
    --nav-font: #f6f5ff;
    --footer: #1e1e1e;

    --sup-primary: #ffa500;
    --sup-secondary: #ffb833;
    --sup-active: #ffd383;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.light-theme {
    --bg: #e7edff;
    --navbar-primary: #fff;
    --navbar-secondary: #ebe9ff;
    --nav-link-hover: #dbdbdb;
    --nav-link-active: #695cfe;
    --nav-font: #303030;
    --footer: #f3f6ff;

    --sup-primary: #695cfe;
    --sup-secondary: #646cff;
    --sup-active: #9ba0ff;
}

/* body::-webkit-scrollbar {
    width: 10px;
} */
/* 
body::-webkit-scrollbar-track {
    background: #181818;
}

body::-webkit-scrollbar-thumb {
    background: #FFA500;
}

body::-webkit-scrollbar-thumb:hover {
    background: #ffd383; 
}

body.active::-webkit-scrollbar-track {
    background: #e4e9f7;
}

body.active::-webkit-scrollbar-thumb {
    background: #695cfe;
}

body.active::-webkit-scrollbar-thumb:hover {
    background: #abafff; 
} */
